.text {
    text-transform: uppercase;
}
.frm-gastos{
    font-size: 0.7em;
    margin-bottom: 100px !important;
}
label{
    margin-bottom: 0.1rem !important;
}

.content-header{
    padding: 3px 0.5rem;
}

#div-proveedores{
    display: none;
}

#div-gastovariable{
    display: none;
}

#div-gastofijo{
    display: none;
}