#error-message{
    color:red;
}

.div-cant{
    position: relative;
    float: right;
    color: red;
}

.card{
    height:auto !important;
    padding: 3px !important;
    margin-bottom: 100px !important;
}

#varSistema {
    display: none;
    font-size: 0.5em;
}

#lbl-modificar{
    color: rgb(175, 170, 170, 0.9);
    text-align: right;
    font-size: 0.9em;
    margin-top: -10px;
    padding: 0%;
}

#valor_mensajero{
    background-color: rgba(230, 166, 166, 0.2);
    color: rgb(0, 0, 0, 1);;
}

#valor_neto{
    background-color: rgba(153, 239, 241, 0.2);
}

#valor-mensajero-hidden{
    display: none;
}

.form-select{
    font-size: 1.2em !important;
}

.divider{
    height: 5px;
    background-color: rgba(21, 121, 12, 0.3)
}

.campos-nuevos{
    background-color: rgba(180, 247, 205, 0.4);
    color: rgb(0, 0, 0);
}

#div-bancos, #div-doc-pago {
    display: none;
}

#div-devolucion{
    border-radius: 7;
    border: 1px solid rgba(126, 126, 126, 0.4);
    padding: 7px;
}

#div-devoluciones{
    margin-top: 30px;
}

.btn-add-mensajero{
    margin: 0%;
    padding: 0%;
    background-color: transparent;
}

#nuevoMensajero{
    display: none;
}

#mensajero_extra{
    width: 100%;
}

#valor_mensajero_extra{
    margin-top: 5px;
}