#error-message{
    color:red;
}

.div-cant{
    position: relative;
    float: right;
    color: red;
}

.card{
    height:auto !important;
    padding: 3px !important;
    margin-bottom: 100px !important;
}

#varSistema {
    display: none;
    font-size: 0.5em;
}

#lbl-modificar{
    color: rgb(175, 170, 170, 0.9);
    text-align: right;
    font-size: 0.9em;
    margin-top: -10px;
    padding: 0%;
}

#valor_mensajero{
    background-color: rgba(230, 166, 166, 0.2);
    color: rgb(0, 0, 0, 1);;
}

#valor_neto{
    background-color: rgba(153, 239, 241, 0.2);
}

#valor-mensajero-hidden{
    display: none;
}

.divider{
    height: 5px;
    background-color: rgba(21, 121, 12, 0.3)
}

#vendedor{
    width:50%;
    font-size: 1.2em;
}

#div-negocio{
    padding-right: 5px;
    text-align: right;
}

#idnegocio{
    background-color: transparent;
    border: none;
    border-radius: 0%;
    color: rgb(175, 170, 170, 0.4);
    float: right;
    font-size: 1.4em;
    margin-right: 5px;
    text-align: right;
    box-shadow: none;
}
  