#txtMensaje {
    font-size: 0.6em;
    margin-top: 6px;
    display: none;
}

#table-resultados{
    font-size: 0.8em;
}

#rango-title{
    font-weight: bold;
}   

#div-link-limpiar{
    font-size: 0.9em;
    padding-top: 30px;
    text-align: center;
    align-items: center;
}

#negocio, #anio{
    font-size: 0.9em;
}

#fecha{
    font-size: 0.7em;
}


input[type="date"] {
    padding: 6px 12px;
    font-size: 1em;
    height: 38px;
    box-sizing: border-box;
}

.form-select{
    padding: 6px 12px;
    font-size: 1em;
    height: 38px;
    box-sizing: border-box;
}

.control-reporte{
    font-size: 0.8em;
}

#btn-reinicia{
    color: #fff;
    background-color: rgb(255, 128, 0, 1);
    margin-top: 18px;
}