.card {
    padding: 20px;
    width: 60%;
}

input[type=text]{
    font-size: 0.9em;
    text-align: right;
}

input[type="date"] {
    padding: 6px 12px;
    font-size: 1em;
    height: 38px;
    box-sizing: border-box;
}

.form-select{
    padding: 6px 12px;
    font-size: 1em;
    height: 38px;
    box-sizing: border-box;
}