label{
    margin-bottom: 1px;
}

#mensaje{
    font-size: 1.2em;
    margin-left:5px;
}

#table-resultados{
    font-size: 0.7em;
}

#table-totales{
    font-size: 0.7em;
    width: 30%;
}

#text-result-bold{
    font-weight: bold;
    text-align: right;
}

#divchkpagado{
    font-size: 1.2em !important;
}

#resultado-total{
    text-align: right;
}