a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


#rol-permitido{
    font-size: 1.2rem;
    margin-left: 5px;
    width: auto;
}

#rol-permitido:hover{
    font-size: 1.2rem;
    margin-left: 5px;
    width: auto;
    background-color: rgba(97, 97, 97, 0.2);
}

#rol-denegado{
    font-size: 1.2rem;
    margin-left: 5px;
    width: auto;
}

#rol-denegado:hover{
    font-size: 1.2rem;
    margin-left: 5px;
    width: auto;
    background-color: rgba(97, 97, 97, 0.2);
}

.inputValor{
    text-align: right;
}

#link-editar{
    color: #00514E;
    text-decoration: none;
}

#link-editar:hover{
    color: #000;
    text-decoration: none;
}
.input {
    border-radius: 300px;
    width: 250px;
}
.row {
    margin-bottom: 20px;
}

#datatablesSimple{
    width: 70%;
    font-size: 0.8em;
}

h3{
    font-weight: bold;
}