.inputValor{
    text-align: right;
}

#link-editar{
    color: #00514E;
    text-decoration: none;
}

#link-editar:hover{
    color: #000;
    text-decoration: none;
}
.input {
    border-radius: 300px;
    width: 250px;
}
.row {
    margin-bottom: 20px;
}

#td-online{
    text-align: center;
    color: #0f0;
}

#td-offline{
    text-align: center;
    color: #f00;
}

#datatablesSimple{
    font-size: 0.8em;
}

.button{
    text-align: center;
}