.inputValor{
    text-align: right;
}

#link-editar{
    color: #00514E;
    text-decoration: none;
}

#link-editar:hover{
    color: #000;
    text-decoration: none;
}
.input {
    border-radius: 300px;
    width: 250px;
}
.row {
    margin-bottom: 30px;
}

.form-check-input{
    margin: 0 auto;
}

.input-precio{
    border:none;
    border-radius: 0%;
    background: transparent;
}

.input-precio:focus{
    border:none;
    border-radius: 0%;
    color: #ffffff;
    background: #5f5959;
    font-weight: bold;
}

.centrado{
    text-align: center;
}

.btn-outline-secondary{
    color: #00514E;
    background-color: #ffffff;
}

#span-cuantificable{
    margin-right: 5px;
}