.inputValor{
    text-align: right;
}

.row {
    margin-bottom: 20px;
}

#datatablesSimple{
    font-size: 0.5em;
    font-weight: normal;
}

.handle:hover{
    cursor: move;
    caret-color: red;
    box-shadow: 0px 0px 20px rgba(149, 153, 159, 0.3)
}


.lista .item-list.fantasma{
    border: 2px dotted #000;
}

.clipboard:focus{
    outline:none;
}

#mensaje{
    background-color:transparent;
    color: #000;
    border: none;
    outline:none;
    overflow:hidden;
    font-size: 0.01em;
    display: none;
}

#taDataConfirmapedido{
    background-color:transparent;
    color: #000;
    border: none;
    outline:none;
    overflow:hidden;
    font-size: 0.01em;
    display: none;
}

#msj{
    background-color:transparent;
    color: #000;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: 0.01em;
}

#mensaje::selection{
    background-color:transparent;
    color: #000;
    border: none;
}

#opciones{
    font-size: 0.7em;
    padding: 7px;
}


.form-label{
    margin-bottom: 0px;
}

.datos-negrita{
    font-weight: bold;
    font-size: 1em;
}

#btn-pedido-2{
    color: antiquewhite;
    margin-top: 5px;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(184, 45, 27, 1);
}

#btn-copy-pedido{
    display: none;
}