.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form {
    width: 450px;
}

#wrap {
	margin: 0 auto 0 auto;
	width: 30%;
	min-width: 350px;
}

.btn-collapse{
  font-size:x-large;
  margin: 0px 10px;
}

.btn{
  background-color: #00514E;
}

a{
  text-decoration: none;
  color: #00514E;
}

#a{
  text-decoration: none;
  float:left;
}

#a:hover{
  text-decoration: none;
}

#error-message{
  color: red;
}

#btn-pedido{
  color: antiquewhite;
  margin-top: 5px;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(184, 45, 27, 1);
}

#btn-pedido:hover{
  color:#000;
  margin-top: 5px;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(239, 192, 155, 1);
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-size:1.3em;
}

#img-agregar{
  
  width: 25px;
  margin: 3px;
}

#btn-cancela{
  background-color: #e8c39e;
  border: none;
}

#btn-cancela:hover{
  border: 1px solid #072a29;
  background-color: #70665b;
  color: blanchedalmond;
}

#form-pedido{
  width:600px;
}

#inputfecha{
  text-align: right;
}

#inputProducto{
  width:30%;
}

.inputValor{
  text-align: right;
  width: 5%;
}

#link-edita-producto{
  margin-left:10px;
}

#sectores{
  width:40%;
  font-size: 1.2em;
}

#formas_pago{
  width:60%;
  font-size: 1.2em;
}

#vendedor{
  width:50%;
  font-size: 1.2em;
}

#idproducto{
  width:20%;
  font-size: 1.1em;
}

#horario_entrega{
  width:100%;
  font-size: 1.1em;
}

.link-editar{
  color: blue;
}

#btn-copy{
  display: flex;
  justify-content: center;
}
